@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.appContainer{
    // width: 80vw;
    // height: 100vh;
    
    margin: auto;

    background-color: #D9D9D9;

    display: flex;
    flex-direction: column;
}

.message{
    width: 280px;
    height: 50px;
    background-color: #fff;

    position: absolute;
    z-index: 1000;
    top: 20px;

    align-self: center;

    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center ;
}