.menuContainer {
  width: 100vw;
  height: 100vh;
  color: #bc2828;

  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;

  display: flex;

  .fondo {
    background-color: #0008;
    width: 100vw;
  }

  .carro {
    background-color: #fff;
    width: 30%;

    .productos {
      width: 90%;
      max-height: 400px;
      overflow-y: auto;
      margin: 0 auto;
      border: 1px solid #ccc;
      scrollbar-width: thin;
      scrollbar-color: rgb(223, 2, 2) transparent;
      border-radius: 10px;
      -webkit-overflow-scrolling: touch;
    }
    
  }
}

.cartItemDetails {
  color: black;
}
