.contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
.card {
    background: #f0f0f0;
    padding: 20px;
    margin-bottom: 10px;
    text-align: center;
    cursor: pointer;
    -moz-osx-font-smoothing: grayscale;
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: transform 0.25s ease-out;
    height: 110px;
    width: 60%;
}

.card1 {
    background: #f0f0f0;
    padding: 20px;
    margin-bottom: 10px;
    text-align: center;
    cursor: pointer;
    -moz-osx-font-smoothing: grayscale;
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: transform 0.25s ease-out;
    height: 150px;
    width: 60%;
}

.card:hover {
    transform: scale(1.05);
}