.container {
  width: 100%;
  min-height: 100vh; 
  display: flex;
  justify-content: center;
  margin-top: 3em;

  .confirmada {
    width: 70%; 
    height: auto;
    background-color: #fff;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    .titulo {
      font-size: 2em;
      margin: 1em;
      color: red;
    }

    .compra {
      .productos {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: red;
      }
    }

    .link {
      color: #00f;
    }

    .productos img {
      width: 300px;
      height: 300px;
    }
  }
}
