.container {
  display: flex;
  justify-content: center;
  margin: auto;

  .carrito {
    width: 300px;
    max-height: 40em;
    background-color: #fff;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    margin: 1em;
    box-shadow: #000 2px 2px 5px;

    .header {
      margin: 10px;
    background-color: red;
    color: white;
    }

    .productos {
      max-height: 85%;
      overflow: hidden;
      overflow-y: auto;
      display: flex;
      flex-direction: column;

      .producto {
        display: flex;
        align-items: center;
        justify-content: space-between; /* Distribuir elementos horizontalmente */
        padding: 1rem; /* Agregar espacio alrededor de los elementos */
        border-bottom: 1px solid #ccc; /* Agregar una línea divisoria entre los productos */

        img {
          max-width: 100px; /* Establecer un ancho máximo para las imágenes */
          margin-left: 1rem; /* Añadir margen a la izquierda de la imagen para separarla del texto */
        }

        hr {
          font-size: 10px;
          color: #000;
          width: 80%;
        }
      }

      /* Estilos para el scrollbar */
      &::-webkit-scrollbar {
        width: 12px; /* ancho del scrollbar */
      }

      &::-webkit-scrollbar-thumb {
        background-color: red; /* color del scrollbar */
        border-radius: 6px; /* radio de borde del scrollbar */
      }
    }

    .total {
      margin: 1em;
    }
  }

  .data {
    margin: 1em;
    width: 100%;

    .index {
      display: flex;
      flex-direction: column;
      margin-bottom: 1em;

      h2 {
        font-size: 1.2em;
        align-self: flex-start;
      }

      .secciones {
        margin-top: 0.5em;
        ul {
          display: flex;
          li {
            padding-left: 2em;
            cursor: pointer;

            &:first-child {
              padding-left: 0;
            }
          }
        }
      }
    }

    .formsContainer {
      width: 90%;
      height: 100%;
    }
  }
}

.noDisponible {
  color: #000;
}

.disponible {
  color: #5555ff;
}
